@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');

* {
    font-family: 'Ubuntu', sans-serif;
}

.mensaje {
    margin-bottom: 20px;
    margin-right: 40px;
    font-size: xx-large;
    color: red;
}

.col-lg-3 {
    display: inline-block;
    position: relative;
    margin-top: 80px;
    margin-bottom: 75px;
}

#elements {
    margin-left: 70px;
    margin-right: 40px;
}

#products{
    margin-left: 40px;
    margin-right: 40px;
}

#recipes{
    margin-left: 40px;
    margin-right: 70px;
} 

.data {
    padding: 30px 20px;
}

.reference {
    color: white;
    
}

.user {
    padding-left: 450px;
    display: grid;
    text-align: right;
}


footer {
    background-color: #414042;
    color: white;
    height: 158px;
}

a:hover {
    color: blue;

}

.logout {
    color: black;
}

.card-title {
    text-align: right;
}

#insColor {
    background-color: #006699
}

.loginForm {
    border-color: aqua;
    padding: 20px;
    background-color: white;
    color: black;
}

header {
    border: 1px;
    color: black;
    border-style: solid;
}

section {
    background-image: url(fondo3.png);
    padding-bottom: 20px;
}

#search {
    margin-top: 40px;
    margin-left: 70px;
    margin-right: 70px;
    margin-bottom: 40px;
}

.t {
    margin-top: 30px;
    margin-left: 40px;
    margin-right: 20px;
    margin-bottom: 30px;
}

.new {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 30px;
    margin-right: 30px;
}

.btn-link {
    color:white;
}