@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');

* {
    font-family: 'Ubuntu', sans-serif;
}

.col-lg-3 {
    display: inline-block;
    position: relative;
}

.data {
    padding: 30px 20px;
}

.reference {
    color: white;
}

.user {
    padding-left: 450px;
    display: grid;
    text-align: right;
}


footer {
    background-color: #414042;
    color: white;
}