<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Reactivo</th>
      <th scope="col">Cantidad</th>
      <th scope="col">Estado de Reactivo</th>
     
    </tr>
  </thead>
  <tbody>
    <tr class="table-active">
      <th scope="row">{{{this.Reactivo}}}</th>
      <td> {{{this.Cantidad}}}</td>
      <td> {{{this.Forma}}}</td>
    </tr>
  </tbody>
</table> 