<div class="t">
    <h4><strong>Inventario de Reactivos</strong></h4>
    <p>Ingresa y controla los reactivos en stock, su cantidad y forma.</p>
    <a href="newElement"><button type="button" class="btn btn-info" data-toggle="modal" data-target="#miModal" id="insColor" style="">Agregar Reactivo</button></a>
  </div>
<div class="t">
<table class="table table-hover">
  <thead class="thead" id="insColor">
    <tr> 
      <th scope="col">Reactivo</th>
      <th scope="col">Cantidad</th>
      <th scope="col">Estado de Reactivo</th>
     
    </tr>
  </thead>
  {{#if listaReactivos.length}}

  {{#each listaReactivos}}
  <tbody>
    <tr class="table-active">
      <td>{{this.Reactivo}}</td>
      <td>{{this.Cantidad}}</td>
      <td>{{this.Forma}}</td>
    </tr>
  </tbody>
  {{/each}}

  {{else}}

    <h4>No se encuentran los datos</h4>
  
  {{/if}}


</table>
</div>