<!--Pantalla principal. Utiliza tres cards como botones para acceder a las pantallas-->
<article style="height: 368px;"> 
    <div class="col-lg-3" id="elements">
        <div class="card text-white mb-4" id="insColor">
            <div class="card-body">
                <img src="flasks.png" style="height:96px; width: 96px;">
                <a href="elements" style="color: white;"><h4 class="card-title">Reactivos</h4></a>
            </div>
        </div>
    </div>
        
    <div class="col-lg-3" id="products">
        <div class="card text-white mb-3" id="insColor">
            <div class="card-body">
                <img src="medicines.png" style="width: 96px; height:96px;">
                <a href="products" style="color: white;"><h4 class="card-title">Productos</h4></a>
            </div>
        </div>
    </div>

    <div class="col-lg-3" id="recipes">
        <div class="card text-white mb-3" id="insColor"> 
            <div class="card-body">
                <img src="favicon-96x96.png">
                <a href="recipes" style="color: white;"><h4 class="card-title">Síntesis</h4></a>
            </div> 
        </div>
    </div>
</article>