<article> 
    <div class="col-lg-3">
        <div class="card text-white bg-info mb-4">
            <div class="card-body">
                <img src="quimica.png">
                <a href="elements.handlebars" style="color: white;"><h4 class="card-title">Reactivos</h4></a>
            </div>
        </div>
    </div>
        
    <div class="col-lg-3">
        <div class="card text-white bg-info mb-3">
            <div class="card-body">
                <img src="pastillas.png">
                <a href="products.handlebars" style="color: white;"><h4 class="card-title">Productos</h4></a>
            </div>
        </div>
    </div>

    <div class="col-lg-3">
        <div class="card text-white bg-info mb-3"> 
            <div class="card-body">
                <img src="favicon-96x96.png">
                <a href="recipes.handlebars" style="color: white;"><h4 class="card-title">Recetas Magistrales</h4></a>
            </div> 
        </div>
    </div>
</article>