<form>
  <fieldset>
    <legend>Nuevo Producto</legend>
    <div class="form-group">
      <label for="nombre">Nombre</label>
      <input type="text" class="form-control">
    </div>
    <div class="form-group">
      <label for="cantidad">Cantidad</label>
      <input type="text" class="form-control">
    </div>
    <div class="form-group">
      <label for="forma">Forma Farmacologica</label>
      <select class="custom-select">
        <option selected="">Elegir</option>
        <option>Jarabe/Liquido</option>
        <option>Crema/Emulsión</option>
        <option>Pastilla/Comprimido</option>
      </select>
    </div>
  </fieldset>
  <button type="submit" class="btn" id="insColor">Guardar</button>
</form>

