<article>
  <div class="t">
    <h4><strong>Inventario de Productos</strong></h4>
    <p>Controla los productos realizados, su cantidad y presentación farmacologica.</p>
    <a href="newProduct"><button type="button" class="btn btn-info" data-toggle="modal" data-target="#miModal" id="insColor" style="">Agregar Producto</button></a>
  </div>
  <div class="t">
  <table class="table table-hover">
    <thead class="thead" id="insColor"> 
      <tr>
      <th scope="col">Producto</th>
      <th scope="col">Cantidad</th>
      <th scope="col">Forma</th>
      </tr>
    </thead>
    <tbody>
      <tr class="table-active">
      <th scope="row">{{this.Nombre}}</th>
      <td>{{this.Cantidad}}</td>
      <td>{{this.Forma}}</td>
      </tr>
    </tbody>
  </table> 
  </div>
</article>

