<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Producto</th>
      <th scope="col">Cantidad</th>
      <th scope="col">Forma</th>
      
    </tr>
  </thead>
  <tbody>
    {{#each listaProducto}}
    <tr class="table-active">
      <th scope="row">{{this.Nombre}}</th>
      <td>{{this.Cantidad}}</td>
      <td>{{this.Forma}}</td>
    </tr>
    {{/each}}
  </tbody>
</table> 