<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="styles.css">
    <title>{{{title}}}</title>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg" id="insColor" ><!--style="height: 136px;"-->
        <a class="navbar-brand" href="home"><img src="logotipo2.png"/></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    {{#if mensaje}}
                    <p class="mensaje-{{tipo}}">Bienvenido {{user}}</p>
                    <a class="logout" href="logout">Logout</a>
                    {{/if}}
                </li>
            </ul>
        </div>
        </nav>
    </header>
        
    {{{body}}}
    
    <footer>
        <div class="data">
            <h6>Website powered by Prisma Sotfware feat <a class="reference" href="https://github.com/AyelenCrystal">Ayelen Ferreyra</a></h6>
        </div>
    </footer>
</body>
</html>
