<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="Client/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="Client/styles.css">
    <title>{{{title}}}</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-info">
        <div>Bienvenido {{{user}}}</div> 
        <div class="top-bar"><a class="logout" href="/logout">Logout</a></div>
    </nav>
    {{{body}}}
    <footer>
        <div class="data">
            <p>Website powered by Prisma Sotfware feat <a class="reference" href="https://github.com/AyelenCrystal">Ayelen Ferreyra</a></p>
        </div>
    </footer>
</body>
</html>
